@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    cursor: crosshair;
}

#headerwrap {
    margin-top: 100px;
    padding-top: 90px;
    text-align: left;
    min-height: 90px;
    width: 100%;
  }

#headerwrap h1{
    margin-top: 150px;
    font-size: 90px;
}

li{
    display: inline-block;
}

li a{
    text-decoration: none;
    font-weight: lighter;
    color: inherit !important;
    font-size: 20px;
    padding: 0 8px;
}

.dottedUnderline { 
    border-bottom: 3px dotted; 
}

a:hover{
    background-color: rgb(94, 92, 92);
    color: rgb(0, 0, 0);
}

#darkmodee p{
    font-size:50px;
    margin-top: 120px;
    padding-right: 20px;
    text-align: right;
    min-height: 90px;
    width: 100%;
    cursor: crosshair;
}
